.inicio {
	background-image: url('header-background.jpg');
	background-size: 100%;

	color: white;
}

.inicio__nav-bar {
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;

	font-family: 'Quicksand', sans-serif;
	font-size: 0.9em;
	text-align: center;

	background: #0000009E;
}

.inicio__header {
	padding: 1rem;
}

.inicio__header__subtitle {
	margin: 0.5em 0;
}

.inicio__header__title {
	margin: 0.5em 0;
}

.inicio__header__text {
	inline-size: 50%;
}

.quem-somos {
	padding: 2rem;
}

.quem-somos__title {
	text-align: center;
}

.quem-somos__text {
	margin-top: 1rem;
}

.onde-estamos {
	padding: 2rem;
}

.onde-estamos__title {
	text-align: center;
}

.onde-estamos__text {
	margin-top: 1rem;
}